<div *ngIf="currentSchoolClassName">
  <div class="hr-padding"></div>
  <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>{{currentSchoolClassName}}</span>
        <span class="tb-spacer"></span>
        <button mat-button (click)="onAddClick()">Add</button>
      </mat-toolbar-row>
    </mat-toolbar>
  <mat-table [dataSource]="studentList$" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.firstName}}&nbsp;{{element.lastName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="age">
      <mat-header-cell *matHeaderCellDef> Age </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.age}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="gpa">
      <mat-header-cell *matHeaderCellDef> GPA </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.gpa}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="editRow">
      <mat-header-cell *matHeaderCellDef> Edit </mat-header-cell>
      <mat-cell *matCellDef="let element"> <button mat-button (click)="onEditClick(element)">Edit</button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="deleteRow">
      <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
      <mat-cell *matCellDef="let element"> <button mat-button (click)="onDeleteClick(element)">Delete</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onClickRowHandler(row)"
    [ngClass]="isHighGrade(row.gpa) ? 'highlight' : 'none-hightlight'"></mat-row>
  </mat-table>
</div>